* {
    box-sizing: border-box;
}

body {
    background-image: url(images/traffic-app-back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    font-family: 'Noto Sans', sans-serif;
}

form {
    color: black;
    background-color: white;
    opacity: 0.9;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    border-radius: 15px;
    margin-top: 25px;
    font-weight: 600;
    padding: 8px;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;     */
}

#pays {
    width: 25px;
}

button {
    font-size: 16px;
    border-radius: 8px;
    background-color: rgb(240, 211, 49);
    border: none;
    font-weight: 600;
    padding: 4px;
    margin-top: 6px;
}

#weather-container, .traffic-container {
    color: black;
    background-color: white;
    opacity: 0.9;
    border-radius: 15px;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; */
    font-size: 16px;
    width: 80%;
    margin: 0 auto;
    margin-top: 25px;
    display: none;
}

label {
    padding: 6px;
}

#icon {
    margin: 0 auto;
}

p {
    margin: 0px;
    font-weight: 500;
    text-align: center;
}

h2 {
    font-size: 18px;
    margin-top: 2px;
    text-align: center;
}

/*Desktop*/
@media screen and (min-width: 1200px) {
    form {
        width: 60%;
        font-size: 28px;
    }

    label, #user-input {
        width: 60%;
    }

    button {
        font-size: 28px;
        width: 12%;
    }

    #pays {
        width: 6%;
    }

    input {
        font-size: 28px;
        padding: 4px;
    }

    #weather-container, .traffic-container {
        width: 28%;
        min-height: 300px;
        max-height: 700px;
    }

    #weather-container {
        float: left;
        margin-left: 20%;
    }

    .traffic-container {
        float: right;
        margin-right: 20%;
    }

    p {
        font-size: 24px;
        font-weight: 600;
    }
}

/* Tablets */
@media screen and (min-width: 600px) and (max-width: 1199px) {
    form {
        font-size: 25px;
        width: 75%;
    }

    #pays {
        width: 30px;
    }

    label, #user-input {
        width: 60%;
    }

    button {
        font-size: 25px;
    }

    #weather-container, .traffic-container {
        width: 75%;
    }

    p {
        font-size: 25px;
        font-weight: 500;
    }
}